{% extends "movie_catalog/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}
	{% if not user.is_authenticated %}
		<form method = "POST" class="form-group">
			{% csrf_token %}
			<p>Don't have an account? Create one: <a href="/register">Register</a></p>
			{{ form|crispy }}
			<button type="submit" class="btn btn-success">Login</button>
		</form>	
	{% else %}
		<p><h2 style="font-family:Comic Sans MS;"> You are already logged in</h2></p>
	{% endif %}

{% endblock %}