.rotate1.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.rotate2.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.rotate3.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.custom {
    background-image: linear-gradient(to top, #fdfbfb, #ebedee);
    border-left: 10px solid purple;
}

.custom:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,0.19),0 2px 2px rgba(0,0,0,0.23);
}

.controls {
    background-color: azure;
}

.badge{
    margin-left: 3px;
}

.custom-bg {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cpanel {
    display: inline-block;
    padding-top: 20px;
    outline:none;
    height: 80px;
    background-color: #DCDCDC;
}

.custom-btn {
    border-radius: 50%;
    outline: none !important;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.custom-like-btn, .custom-like-btn:hover, .custom-like-btn:active, .custom-like-btn:checked {
    background-color: white !important;
    color: rgb(0, 174, 255);
}

.custom-hate-btn, .custom-hate-btn:hover {
    background-color: white !important;
    color: rgb(223, 67, 67);
}

.custom-date-btn, .custom-date-btn:hover {
    background-color: white !important;
    color: rgb(32, 143, 32);
}