{% extends "movie_catalog/base.html" %}
{% load custom_tags %}
{% block title %} Index {% endblock %}

{% block searchbar %}
		<form class="form-inline" action= "{{ request.path }}search" method="get" >
			<input class="form-control mr-sm-2" type="search" placeholder="Search" name="Name" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
{% endblock %}


{% block content %}

	<div id="my-list">
		<div style=" padding-top: 20px;" >
			<span class="cpanel controls border border-dark col-12">
				<a style=" padding-left: 10px;"> Sort by: </a>
				<button id="b1" type="button" class="sort custom-btn custom-like-btn btn-outline-dark " data-sort="likes"> <i class="fa fa-thumbs-up" aria-hidden="true"></i><i class="rotate1 fa fa-arrow-up"></i></button>
				<button id="b2" type="button" class="sort custom-btn custom-hate-btn btn-outline-dark" data-sort="hates"><i class="fa fa-thumbs-down" aria-hidden="true"></i><i class="rotate2 fa fa-arrow-up"></i></button>
				<button id="b3" type="button" class="sort custom-btn custom-date-btn btn-outline-dark" data-sort="date"><i class="fa fa-calendar" aria-hidden="true"></i><i class="rotate3 fa fa-arrow-up"></i></button>
			</span>
		</div>

		{% block profile %} {% endblock %}

		<ul class="list list-group align-items-center" style="padding-top: 20px; "> 
		{% for movie in movie_list %}
			<div style="padding-top: 10px; padding-bottom: 10px;">
				<li class="card custom" style="width: 40rem; font-family:Comic Sans MS; ">
					<div class="card-body">
						<h4 class="card-title"><i class="fa fa-video-camera" aria-hidden="true"></i> {{ movie.title }}</h4>
						<span style="font-size: 14px;">
							Posted by:
							<a href="/index/profile/{{ movie.user }}" class="card-link"> {{ movie.user }}</a>
							<a class="date" style="padding-left: 10px;"> {{ movie.get_date }} days ago</a>
						</span>
						<p class="card-text" style="padding-top: 10px; font-size: 17px;" >{{ movie.description }}</p>
						<span style="font-size: 14px; display:flex;">

							<span class="badge badge-info">
								Likes <span class="likes badge badge-light">{{ movie.likes }}</span>
							</span>
							<span class="badge badge-danger">
								Hates <span class="hates badge badge-light">{{ movie.hates }}</span>
							</span>

							{% if user.is_authenticated and user != movie.user %}
								
								<form action="" method="POST" style="position: absolute; right: 5px;">
									{% csrf_token %}
									<input type="hidden" name="user" value="{{user.id}}">
									<input type="hidden" name="movie" value="{{movie.id}}">
								{% user_likes_or_not movie.id user.id as is_liked %}
								{% user_hates_or_not movie.id user.id as is_hated %}
                  					{% if is_liked %}
                  						<a class="card-link" > You like this movie|</a>
										<button type="submit" name="button" value="UnLike" style="font-size: 10px; outline: none;" class="custom-date-btn btn-lg"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
										</button>
                    				{% elif is_hated %}
                    					<a> You hate this movie|</a>
										<button type="submit" name="button" value="UnHate" style="font-size: 10px;" 
										class="custom-date-btn btn-lg"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
										</button>
                    				{% else%}
                    					<button type="submit" name="button" value="Like" style="font-size: 10px; outline: none;" class="custom-like-btn btn-lg"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
										</button>
										<button type="submit" name="button" value="Hate" style="font-size: 10px; outline: none;" class="custom-hate-btn btn-lg"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
										</button>
                    				{% endif %}
                    			</form>

							{% endif %}
						</span>
					</div>
				</li>
			</div>
		{% endfor %}
		</ul>
	</div>

	<script type="text/javascript">
		document.getElementById("b1").addEventListener("click", function(){$(".rotate1").toggleClass("down");});
		document.getElementById("b2").addEventListener("click", function(){$(".rotate2").toggleClass("down");});
		document.getElementById("b3").addEventListener("click", function(){$(".rotate3").toggleClass("down");});
		
		var options = {
  			valueNames: ['likes', 'hates', 'date']
		};
		var myList = new List('my-list', options);
  	</script>

{% endblock %}